fastapi==0.136.1
uvicorn==0.46.0
paramiko==4.0.0
pydantic==2.12.5
openai==2.14.0
anthropic==0.77.1
PyYAML==6.0.3
python-dotenv==1.1.1
APScheduler==3.11.2
PyMySQL==1.1.2
psycopg2-binary==2.9.11
oracledb==3.4.1
pyodbc==5.3.0
pywinrm==0.5.0
redis==6.4.0
pymongo==4.17.0
pysnmp==7.1.22
duckduckgo-search==8.1.1
lancedb==0.29.2
pyarrow==23.0.1
langchain-community==0.4.1
langchain-text-splitters==1.1.1
cryptography==41.0.7
python-multipart==0.0.20
requests==2.32.5
httpx==0.28.1
netmiko==4.6.0
pyvmomi==9.0.0.0
pyghmi==1.6.14
